.account_page{
    width: 100%;
    position: relative;
    height: 100vh;
}
.container_acc{
    display: flex;
    flex-direction: row;
    height: 81vh;
}

.container_acc_r{
    flex: 70%;
}

.container_acc_l{
    flex: 30%;
    display: flex;
    flex-direction: column;
}

.container_acc_l_logo{
    flex: 30%;
    display: flex;
   
}
.container_acc_l_info{
    flex: 70%;
    background-color: bisque;
}

.container_conf{
    justify-content: center;
    border-color: black;
    border-radius: 3%;
    background-color: rgba(0, 78, 100, 0.04);
    position: absolute;
    width: 70%;
height: 74%;

}
h1{
    font-size: 30px;
    color: black;
}






.navbar_1{
    padding: 35px;
    left: 0%;
    height: 50px;
    width: 100%;;
    z-index: 9;
    margin-bottom: 7%;
    position: sticky;
    justify-content: center;
    text-align: center;
}


.navbar_list_1{
    margin-top: 2%;
    cursor: pointer;
    display: flex;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    justify-content:center;
    width: 100%;
    text-align: center;
    
}    

.list_item_1{
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    padding: 0 20px;
    margin:0 5px ;
    text-decoration: none;
    opacity: 1;
    color: white;
    transition: 0.1s;  

}

.navbar_list_1 :hover{
    opacity: 1;
    color: white;
    background-color: rgba(0, 78, 100, 0.92);
    border-radius: 3px;
    border-style:none;
}

.link{
    text-decoration: none;
}