.navbar_1 {
    padding: 35px;
    left: 0%;
    height: 50px;
    width: 100%;
    z-index: 9;
    margin-bottom: 7%;
    position: sticky;
    justify-content: center;
    text-align: center;
}


.navbar_list_1 {
    margin-top: 2%;
    cursor: pointer;
    display: flex;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    text-align: center;
<<<<<<< HEAD
=======
    
}    
>>>>>>> 82ed719d136fe227cbc82f96ce47c9dd4219bede

}

.list_item_1 {
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    padding: 0 20px;
    margin: 0 5px;
    text-decoration: none;
    opacity: 1;
    color: black;
    transition: 0.1s;

}

.navbar_list_1 :hover {
    opacity: 1;
    color: white;
    background-color: rgba(0, 78, 100, 0.92);
    border-radius: 3px;
    border-style: none;
}

.link {
    text-decoration: none;
}